---
---

@import "";

/**
 * Links
 */
a {
  color: ##471387;
  text-decoration: none;

  &:visited {
    color: darken(##471387, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}
